{% extends 'vacancy/base.html' %}
{% load static %}

{% block title %}
    <title>proGRESSive agency - Главная</title>
{% endblock %}

{% block nav %}
    <li class="active"><a href="{% url 'index' %}">Главная</a></li>
    <li><a href="{% url 'vacancy:vacancies' %}">Вакансии</a></li>
    <li><a href="#contacts">Контакты</a></li>
{% endblock %}

{% block content %}
  <!--After submited form-->
  {% if message %}
    <div id="modalPhone" class="modal" style="display: table">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Спасибо</h2>
            </div>
            <div class="modal-body" style="text-align: center">
                {{ message }}
            </div>
        </div>
    </div>
  {% endif %}

  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">
            <div class="icon">
                <i class="icon-profile"></i>
            </div>
            <div class="text">
              <h3 class="heading">Официально трудоустраиваем</h3>
              <p>Гарантируем официальное трудоустройство и оформление всех документов. </p>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">
            <div class="icon">
              <i class="icon-man-woman"></i>
            </div>
            <div class="text">
              <h3 class="heading">Индивидуальный подход</h3>
              <p>Индивидуальный подбор вакансий для каждого клиента. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">
            <div class="icon">
              <i class="fa fa-car"></i>
            </div>
            <div class="text">
              <h3 class="heading">Работа для водителей в Европе</h3>
              <p>Трудоустройство и оформление всех необходимых документов. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">

            <div class="icon">
              <i class="icon-v-card"></i>
            </div>
            <div class="text">
              <h3 class="heading">Визы</h3>
              <p>Открытие визы. Трудоустройство по биометрическому паспорту. </p>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">
            <div class="icon">
              <i class="icon-home2"></i>
            </div>
            <div class="text">
              <h3 class="heading">Партнеры</h3>
              <p>Наши партнеры - это надежные фирмы и предприятия, которые хорошо себя зарекомендовали и имеют хорошие отзывы.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">
            <div class="icon">
              <i class="icon-info2"></i>
            </div>
            <div class="text">
              <h3 class="heading">Поддержка</h3>
              <p>На протяжении всего времени Мы консультируем Вас по всем вопросам. </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- END section -->
{% endblock %}